html, body {
  margin: 20px;
}

#map {
  height: 700px;
  width: 630px;
}

.active {
  background-color: #d9edf7;
}

.hover>li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title-bar {
  position: relative;
}

.title-bar span {
  position: absolute;
  left: 200px;
  top: -7px;
  color: #3071a9;
  cursor: pointer;
  opacity: 0.1;
  font-size: 20px;
  font-weight: bold;
}

.title-bar:hover span {
  opacity: 1;
}

