@media screen and (max-width: 768px) {
  leaflet-map {
    display: none;
  }

  .title-bar .add {
    font-size: 30px;
    top: -14px;
  }
}

@media screen and (min-width: 769px) {
  html, body {
    margin: 20px;
  }

  .title-bar .add {
    opacity: 0.1;
    font-size: 20px;
    top: -7px;
  }

  .highlighted .title-bar .add {
    opacity: 1;
  }

  .highlighted .title-bar span, .highlighted .title-bar a {
    color: #febc14;
  }

}

li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.title-bar {
  position: relative;
}

.title-bar .add {
  position: absolute;
  left: 180px;
  color: #3071a9;
  cursor: pointer;
  font-weight: bold;
}

.time-slot {
  border-left: 1px solid #428bca;
}

.bottom-space {
  padding-bottom: 10px;
}

.left-space {
  padding-left: 10px;
}

.modal-body button {
  margin-bottom: 5px;
}
