<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {{#if haha}}
      <h3>Lustiger Name! Versuchen wir es noch einmal.</h3>
    {{else}}
      <h3>Hallo!<br/>Ich kenne dich nicht.<br/>Wie ist dein Kürzel?</h3>
    {{/if}}
    <form {{action "save" on="submit"}}>
      <div class="input-group">
        {{input autofocus="autofocus" required="required" pattern="[a-z]{3,4}" class="form-control" value=name}}
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">OK</button>
        </span>
      </div>
    </form>
  </div>
</div>
