<div class="row">
  <div class="col-md-4">
    <table class="table table-hover table-condensed">
      <tbody>
        {{#each place in model}}
        <tr>
          <td><a href="#" {{action "attend" place}}>{{place.name}}</a></td>
          <td>{{place.attendees}}</td>
        </tr>
        {{/each}}
      <tbody>
    </table>
  </div>
</div>
