<div class="row">
  <div style="padding-bottom:10px" class="col-md-12">
    <button {{action 'withdraw'}} class="btn btn-primary btn-xs">Trag mich aus</button>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <table class="table table-hover table-condensed">
      <tbody>
        {{#each place in model}}
        <tr>
          <td style="width:200px">
            {{#view 'hover-link' place=place }}{{place.name}}{{/view}}
          </td>
          <td style="width:30px">
            {{#if place.website}}
              <a title="Internetseite/Mittagskarte in neuem Tab öffnen" target="_blank" href="{{unbound place.website}}">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            {{/if}}
          </td>
          <td>{{place.attendees}}</td>
        </tr>
        {{/each}}
      <tbody>
    </table>
  </div>
  <div class="col-md-7">
    <div id="map"></div>
  </div>
</div>
